@use '../custom' as *;
@use '../components/mixins' as *;

.custom-background-green {
    @include gradientGreen;
    // background: linear-gradient(to right, rgba($green, 0.95), rgba($cyan, 0.95));
}

.custom-background-indigo {
    @include gradientIndigo;
    // background: linear-gradient(to right, rgba($red, 0.95), rgba($orange, 0.95));
}

.custom-hover-green:hover {
    @include gradientGreen;
}
.custom-hover-indigo:hover {
    @include gradientIndigo;
}
.custom-primary-green {
    background-color: $green;
}
.custom-primary-indigo {
    background-color: $indigo;
}
.custom-boxshadow-green{
    box-shadow: 15px 15px 10px $green;
}
.custom-boxshadow-indigo {
    box-shadow: 15px 15px 10px $indigo;
}